body {
    margin: 0;
    padding: 0;
    display: block;
}

#container {
    padding-bottom: 200px;
    width: 100%;
}

.top_banner {
    position: relative;
    height: 700px;
    width: 100%;
}

.top_banner .color_gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left top, #191919, #191919);
    opacity: .5;
}

.top_banner img {
    width: 100%;
    height: 100%;
}

.formOverBanner {
    text-align: center;
    position: absolute;
    top: 0;
    left: 10%;
    padding-top: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}

.formOverBanner #getStarted:hover {
    background-color: black;
    color: white;
}

.leftCont {
    row-gap: 20px;
    padding: 30px;
    height: 60vh;
    width: 60%;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftCont span {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.leftCont h1 {
    margin: 0px;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.leftCont p {
    text-align: left;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.leftCont button {
    margin: 10px 0px;
    height: 6vh;
    width: 160px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border: 0px solid black;
    background-color: #F8B600;
}

.rightCont {
    width: 40%;
    margin: auto;
}

#switchFormDiv {
    column-gap: 1px;
    width: 74.5%;
    display: flex;
    opacity: .2;
}

#switchFormDiv .switchForm {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

#switchFormDiv .switchForm a {
    padding: 10px 16px;
    text-decoration: none;
    font-size: 13px;
    color: #191919;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.rightCont form {
    height: 90%;
    width: 70%;
    min-width: 250px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 40px 10px;
    background-color: #fff;
}

.rightCont form input {
    margin: 5px;
    padding: 10.8px 12px;
    width: 80%;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid rgb(238, 235, 235);
}

.rightCont form #submit {
    margin: 10px;
    padding: 10.8px 12px;
    width: 60%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-color: #F8B600;
}

.popularDestinationDiv {
    padding: 110px 0px;
    height: 60vh;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popularDestinationDiv h1 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 10px;
}

.popularDestinationDiv p {
    font-size: 14px;
    color: #777777;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 10px;
}

.destinationDetail {
    margin: auto;
    margin-top: 12vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.destinationImage {
    height: 200px;
    width: 30%;
}

.destinationImage img {
    height: 100%;
    width: 100%;
}

.packageDiv {
    padding: 150px 0px;
    height: 80vh;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    background-image: url(https://preview.colorlib.com/theme/travel/img/price-bg.png);
}

.packageDiv h1,
p {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 10px;
}

.packageDiv p {
    font-size: 14px;
    color: #7777
}

.packageDetail {
    margin: auto;
    padding-top: 15vh;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.packageCard {
    margin: 20px;
    padding: 30px;
    width: 22%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.packageCard ul {
    padding: 0px;
    margin-top: 30px;
    list-style: none;
}

.packageCard ul li {
    margin: 0px 0px 10px;
    display: flex;
    justify-content: space-between;
}

.packageCard ul li span {
    color: #777777;
}

.packageCard h4 {
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #f8b600;
    padding-bottom: 20px;
}

.packageCard button {
    padding: 8px 20px;
    border: 1px solid #eee;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    background: #f9f9ff;
}

.packageCard button:hover {
    background-color: #F8B600;
    outline: 0;
}

.featuresDiv {
    padding: 120px 0px;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featuresDiv h1,
p {
    text-align: center;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 10px;
}

.featuresDiv P {
    font-size: 14px;
    color: #7777
}

.featureDetaislDiv {
    margin: auto;
    margin-top: 70px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.singleFeatureDiv {
    margin: 15px;
    height: 60vh;
    width: 20%;
}

.singleFeatureDiv h4 {
    margin: 20px 0px;
    color: #222222;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.singleFeatureDiv:hover>h4 {
    color: #f8b600;
}

.singleFeatureDiv p {
    margin: 0px 0px 16px;
    color: #777777;
    font-size: 14px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.feature_Image {
    height: 37%;
    width: 100%;
    overflow: hidden;
}

.feature_Image img {
    height: 100%;
    width: 100%;
}

.singleFeatureDiv:hover>.feature_Image img {
    transform: scale(1.1) rotate(-2deg);
    transition: .4s;
}

@media only screen and (max-width: 1190px) {
    .formOverBanner {
        padding: 5%;
        top: 0;
        left: 0;
        width: 90%;
        justify-content: space-between;
    }
    .leftCont {
        margin: 0;
        padding: 0px;
        margin: 10% 0% 0% 0%;
        width: 60%;
    }
    .leftCont h1 {
        font-size: 40px;
    }
    .leftCont p {
        text-align: left;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    .rightCont {
        margin: 0px;
        padding: 0px;
        width: 40%;
    }
    #switchFormDiv {
        column-gap: 1px;
        display: flex;
        opacity: .2;
    }
    #switchFormDiv .switchForm {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
    }
    #switchFormDiv .switchForm a {
        padding: 10px 16px;
        text-decoration: none;
        font-size: 13px;
        color: #191919;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
    .form-div {
        margin: auto;
        width: 60%;
    }
    .rightCont form {
        width: 100%;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        padding: 40px 10px;
        background-color: #fff;
    }
    .rightCont form #submit {
        margin: 10px;
        padding: 10.8px 12px;
        width: 60%;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        color: #ffffff;
        background-color: #F8B600;
    }
    .popularDestinationDiv {
        height: auto;
    }
    .destinationDetail {
        width: 97%;
    }
    .destinationImage {
        height: 180px;
        width: 30%;
    }
    .packageDetail {
        display: flex;
        width: 95%;
    }
    .packageCard {
        width: 30%;
    }
    .featureDetaislDiv {
        width: 95%;
    }
    .singleFeatureDiv {
        margin: 15px;
        height: 60vh;
        width: 25%;
    }
}

@media only screen and (max-width: 992px) {
    .top_banner {
        height: 1100px;
    }
    .formOverBanner {
        margin: auto;
        top: 0;
        left: 0;
        width: 90%;
    }
    .leftCont {
        margin: 0;
        padding: 0px;
        margin: 10% 0% 0% 0%;
        width: 50%;
    }
    .rightCont {
        margin: 0px;
        padding: 0px;
        width: 50%;
    }
    /* .form-div { */
    /* margin: auto; */
    /* background-color: #F8B600; */
    /* } */
    #switchFormDiv {
        column-gap: 1px;
        width: 74.5%;
        display: flex;
        opacity: .2;
    }
    #switchFormDiv .switchForm {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
    }
    #switchFormDiv .switchForm a {
        padding: 10px 16px;
        text-decoration: none;
        font-size: 13px;
        color: #191919;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
    .form-div {
        margin: auto;
        width: 70%;
    }
    .rightCont form {
        height: 80%;
        width: 100%;
    }
    .rightCont form input {
        padding: 10.8px 12px;
        width: 90%;
        border: 1px solid rgb(238, 235, 235);
    }
    .popularDestinationDiv {
        height: auto;
    }
    .popularDestinationDiv>p {
        padding: 0px 20%;
    }
    .destinationDetail {
        row-gap: 30px;
        width: 100%;
        flex-direction: column;
    }
    .destinationImage {
        height: 38vh;
        width: 68%;
    }
    .packageDiv {
        height: auto;
    }
    .packageDiv>h1 {
        padding: 0px 20%;
    }
    .packageDiv>p {
        padding: 0px 20%;
    }
    .packageDiv p {
        font-size: 14px;
        color: #7777
    }
    .packageDetail {
        width: 85%;
        flex-direction: column;
    }
    .packageCard {
        width: 80%;
    }
    .featuresDiv {
        height: auto;
    }
    .featureDetaislDiv {
        width: 85%;
        flex-wrap: wrap;
    }
    .featuresDiv>h1 {
        padding: 0px 10%;
    }
    .featuresDiv>p {
        padding: 0px 10%;
    }
    .singleFeatureDiv {
        margin: 15px;
        height: 50vh;
        width: 45%;
    }
    .feature_Image {
        height: 70%;
        width: 100%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 750px) {
    .top_banner {
        height: 1000px;
    }
    .formOverBanner {
        padding: 10%;
        top: 0;
        left: 0;
        width: 80%;
        flex-direction: column;
    }
    .leftCont {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .leftCont p {
        padding: 0;
    }
    .rightCont {
        padding: 0;
        width: 100%;
    }
    .form-div {
        margin: auto;
        width: 100%;
    }
    .rightCont form {
        padding: 0px;
        width: 90%;
    }
    .rightCont form input {
        padding: 10.8px 12px;
        width: 90%;
        border: 1px solid rgb(238, 235, 235);
    }
    .rightCont form #submit {
        text-align: center;
        width: 40%;
    }
    .popularDestinationDiv {
        height: auto;
    }
    .popularDestinationDiv>h1 {
        padding: 0px 5%;
    }
    .popularDestinationDiv>p {
        padding: 0px 5%;
    }
    .destinationDetail {
        row-gap: 30px;
        width: 100%;
        flex-direction: column;
    }
    .destinationImage {
        height: 30vh;
        width: 60%;
    }
    .packageDiv {
        padding: 50px 0px;
        height: auto;
        flex-direction: column;
    }
    .packageDiv>h1 {
        padding: 0px 5%;
    }
    .packageDiv>p {
        padding: 0px 5%;
    }
    .packageDetail {
        width: 75%;
    }
    .packageCard {
        width: 90%;
    }
    .featuresDiv {
        height: auto;
    }
    .featuresDiv>h1 {
        padding: 0px 5%;
    }
    .featuresDiv>p {
        padding: 0px 5%;
    }
    .featureDetaislDiv {
        width: 75%;
        flex-direction: column;
    }
    .singleFeatureDiv {
        margin: 15px;
        height: 75vh;
        width: 100%;
    }
    .singleFeatureDiv p {
        padding-left: 0;
    }
    .feature_Image {
        height: 70%;
        width: 100%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 575px) {
    .top_banner {
        height: 1000px;
    }
    .formOverBanner {
        margin: 0px;
        padding: 0px;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
    }
    .leftCont {
        padding: 5%;
        height: 45vh;
        width: 90%;
    }
    .leftCont>p {
        padding: 0;
    }
    .leftCont button {
        height: 6vh;
        width: 150px;
    }
    .rightCont {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .form-div {
        margin: auto;
        width: 90%;
    }
    .rightCont form {
        padding: 0;
        margin: auto;
        width: 100%;
    }
    .rightCont form input {
        padding: 10.8px 12px;
        width: 90%;
        border: 1px solid rgb(238, 235, 235);
    }
    .rightCont form #submit {
        text-align: center;
        width: 40%;
    }
    .popularDestinationDiv {
        height: auto;
    }
    .popularDestinationDiv>h1 {
        padding: 0px 5%;
    }
    .popularDestinationDiv>p {
        padding: 0px 5%;
    }
    .destinationDetail {
        row-gap: 30px;
        width: 100%;
        flex-direction: column;
    }
    .destinationImage {
        height: 30vh;
        width: 90%;
    }
    .packageDiv {
        padding: 50px 0px;
        height: auto;
        flex-direction: column;
    }
    .packageDiv>h1 {
        padding: 0px 5%;
    }
    .packageDiv>p {
        padding: 0px 5%;
    }
    .packageDetail {
        width: 100%;
    }
    .packageCard {
        width: 80%;
    }
    .featuresDiv {
        height: auto;
    }
    .featuresDiv>h1 {
        padding: 0px 5%;
    }
    .featuresDiv>p {
        padding: 0px 5%;
    }
    .featureDetaislDiv {
        width: 100%;
        flex-direction: column;
    }
    .singleFeatureDiv {
        margin: 15px;
        height: 50vh;
        width: 90%;
    }
    .singleFeatureDiv p {
        padding-left: 0;
    }
    .feature_Image {
        height: 70%;
        width: 100%;
        overflow: hidden;
    }
}