:root {
    --theme-color: #f8b600;
}

.section-gap {
    padding: 120px 0;
}

.google-map iframe,
.contact-section {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 3px;
    margin-bottom: 100px;
}

.contact-section {
    display: flex;
    flex-direction: row;
}

.contact-section .contact-address {
    width: 35%
}

.contact-section .contact-input {
    width: 65%;
}

.contact-section .row .icon {
    display: inline;
    font-size: 3vw;
    position: relative;
    right: 10px;
    bottom: 15px;
    color: var(--theme-color);
    margin: 5px;
}

.contact-section .row .content {
    display: inline-block;
    line-height: 12px;
}

.heading>h1 {
    font-size: 1.5vw;
}

.description>p {
    font-size: 1vw;
}

.contact-input .input {
    font-size: 13px;
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 1.5;
}

.contact-input .form-input {
    display: flex;
    /* flex-wrap: wrap; */
}

.contact-input .input-section {
    width: 50%;
    margin: 0% 4%;
    box-sizing: border-box;
}

.contact-input textarea {
    height: 75%;
}

.contact-input .submit-button {
    float: right;
    padding: 15px;
    text-align: center;
    background-color: var(--theme-color);
    border: none;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .contact-section {
        row-gap: 30px;
        text-align: left;
        flex-direction: column;
        width: 80%;
    }
    .contact-section .contact-address {
        width: 80%;
    }
    .heading>h1 {
        font-size: 3vw;
    }
    .description>p {
        font-size: 2vw;
    }
    .form-input {
        margin-left: -30px;
        height: auto;
        width: 100%;
        flex-direction: column;
    }
    .input-section .input {
        width: 150%;
    }
    .submit-button {
        margin-right: 20%;
    }
    .contact-section .contact-input {
        width: 100%;
    }
}