.featuresDiv {
  padding: 120px 0px;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featuresDiv h1 {
  text-align: center;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  margin: 0px 0px 10px;
}

.featuresDiv P {
  font-size: 14px;
  color: #7777;
}

.featureDetaislDiv {
  margin: auto;
  margin-top: 70px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.singleFeatureDiv {
  margin: 15px;
  height: 60vh;
  width: 20%;
}

.singleFeatureDiv h4 {
  margin: 20px 0px;
  color: #222222;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.singleFeatureDiv:hover > h4 {
  color: #f8b600;
}

.singleFeatureDiv p {
  margin: 0px 0px 16px;
  color: #777777;
  font-size: 14px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.feature_Image {
  height: 37%;
  width: 100%;
  overflow: hidden;
}

.feature_Image img {
  height: 100%;
  width: 100%;
}

.singleFeatureDiv:hover > .feature_Image img {
  transform: scale(1.1) rotate(-2deg);
  transition: 0.4s;
}

@media only screen and (max-width: 992px) {
  .featuresDiv {
    height: auto;
  }
  .featureDetaislDiv {
    width: 85%;
    flex-wrap: wrap;
  }
  .featuresDiv > h1 {
    padding: 0px 10%;
  }
  .featuresDiv > p {
    padding: 0px 10%;
  }
  .singleFeatureDiv {
    margin: 15px;
    height: 50vh;
    width: 45%;
  }
  .feature_Image {
    height: 70%;
    width: 100%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 575px) {
  .featuresDiv {
    height: auto;
  }
  .featuresDiv > h1 {
    padding: 0px 5%;
  }
  .featuresDiv > p {
    padding: 0px 5%;
  }
  .featureDetaislDiv {
    width: 100%;
    flex-direction: column;
  }
  .singleFeatureDiv {
    margin: 15px;
    height: 50vh;
    width: 90%;
  }
  .singleFeatureDiv p {
    padding-left: 0;
  }
  .feature_Image {
    height: 70%;
    width: 100%;
    overflow: hidden;
  }
}

.packageDiv {
  padding: 150px 0px;
  height: 80vh;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  background-image: url(https://preview.colorlib.com/theme/travel/img/price-bg.png);
}

.packageDiv h1 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  margin: 0px 0px 10px;
}

.packageDetail {
  margin: auto;
  padding-top: 15vh;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.packageCard {
  margin: 20px;
  padding: 30px;
  width: 30%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.packageCard h4 {
  text-align: center;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #f8b600;
  padding-bottom: 20px;
}

.packageCard button {
  padding: 8px 20px;
  border: 1px solid #eee;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  background: #f9f9ff;
}

.packageCard button:hover {
  background-color: #f8b600;
  outline: 0;
}

.package__list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}
.package__list > div > div {
  margin-left: 1px;
}

.package__list > div > button {
  margin-right: 1px;
}
