/* *!scrolling class */
.scrolling-active {
  position: fixed;
  top: 0;
  background: rgba(29, 28, 26, 0.83);
  transition: all 0.3s linear;
}
.scrolling-active > nav {
  position: fixed;
  width: 100%;
  background: rgba(29, 28, 26, 0.83);
}

/**! header style */
header {
  position: sticky;
  top: 30px;
  height: 0;
}
header > nav {
  width: 1140px;
  height: 70px;
  padding: 0 100px;
  position: relative;
  margin: auto;
  background: rgba(196, 192, 192, 0.33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.navbar-list {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.navbar-list li {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 8px;
}
.navbar-list li a {
    color: white;
    display: flex;
}
.navbar-list li a:hover {
  transition: color 0.2s ease 0s;
  color: #f8b600;
}
.navbar-list li img {
  width: 14px;
  margin-left: 5px;
}
.hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  header > nav {
    width: 920px;
    padding: 0 30px;
  }
  .navbar-list {
    width: 65%;
  }
}
@media screen and (max-width: 1000px) {
  header {
    background-color: lightcoral;
  }
  header > nav {
    width: 720px;
    padding: 0 50px;
  }
  .navbar-list {
    display: none;
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
    width: 260px;
    position: fixed;
    top: 0;
    left: -260px;
    bottom: 0;
    padding-top: 18px;
    overflow-y: auto;
    transition: 0.4s;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20;
  }
  .navbar-list li {
    padding: 10px 22px 10px 15px;
  }
  .navbar-list li img {
      position: absolute;
      right: 20px;
  }
  .navbar-show {
    display: flex;
    left: 0;
  }
  .navbar-show + .hamburger li:nth-child(1) {
    transform: rotate(45deg);
    transition: 0.3s;
    top: 55%;
    position: relative;
  }
  .navbar-show + .hamburger li:nth-child(2) {
    transform: scale(0);
    transition: 0.3s;
  }
  .navbar-show + .hamburger li:nth-child(3) {
    transform: rotate(-45deg);
    transition: 0.3s;
    top: -30%;
    position: relative;
  }
  .hamburger {
    display: none;
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hamburger li {
    width: 100%;
    height: 3px;
    border-radius: 8px;
    background-color: black;
    transition: 0.3s;
  }
}
@media screen and (max-width: 770px) {
  header > nav {
    width: 540px;
  }
}
@media screen and (max-width: 570px) {
  header > nav {
    width: 100%;
  }
}