/* HEADER */
body {
  padding: 0;
  margin: 0;
  height: 900px;
  background: rgb(245, 242, 242);
  font-family: "Poppins", sans-serif;
}
*::selection {
  color: rgb(250, 249, 248);
  background: rgb(245, 182, 9);
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./img/img-4.jpg);
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-size: 100% 100%;
}
.header__container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 200px;

  color: white;
}
.banner {
  margin: 10px;
}
.banner > p {
  color: rgb(181, 209, 233);
  font-size: small;
}
.banner > h1 {
  font-size: 50px;
}
.banner > button {
  border: none;
  font-size: medium;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 90px;
  background: rgb(72, 171, 228);
  font-weight: bolder;
  color: rgb(31, 29, 29);
}
.banner > button:hover {
  background: rgb(89, 247, 16);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 70%;
  z-index: 100;
  background: rgba(196, 192, 192, 0.33);
  margin-top: 30px;
  position: fixed;
  top: 2px;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  display: flex;
  background: rgba(29, 28, 26, 0.83);
  height: 10%;
  width: 100%;
  margin-top: -2px;
  transition: all 0.3s;
  justify-content: space-around;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;

  margin-right: 20px;
}

.nav__item {
  margin-left: 25px;
  color: white;
}

.nav__link:link,
.nav__link:visited {
  font-size: medium;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
}

.nav__logo {
  height: 100%;
  transition: all 0.3s;
}
.nav__item:hover {
  color: rgb(207, 126, 20);
}

/*
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    color: rgb(221, 175, 23);
  }
  
  .nav__link--btn:hover,
  .nav__link--btn:active {
    color: inherit;
    background-color: var(--color-primary-darker);
    color: rgb(221, 175, 23);
  }
  */
#section--1 {
  margin-top: 60px;
  margin-bottom: 50px;
}
.section__desc {
  color: rgb(116, 117, 117);
}
.section__title {
  text-align: center;
}
.section__head {
  font-size: 30px;
  font-weight: bold;
}
#section--2 {
  margin: 100px;
}
.section--2__container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  color: white;
}
.section--2__item1 {
  background-image: url("https://preview.colorlib.com/theme/travel/img/xd1.jpg.pagespeed.ic.13QHZwF0pQ.webp");
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: 100% 100%;
}
.section--2__container > div > span > button {
  border: none;
  background: rgb(223, 175, 18);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-top: 50px;
  font-weight: bolder;
  color: rgb(32, 32, 32);
}

.section--2__item1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://preview.colorlib.com/theme/travel/img/xd1.jpg.pagespeed.ic.13QHZwF0pQ.webp");
}

.section--2__item2 {
  background-image: url("https://preview.colorlib.com/theme/travel/img/xd2.jpg.pagespeed.ic.fmOwneJaX2.webp");
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: 100% 100%;
}
.section--2__item2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://preview.colorlib.com/theme/travel/img/xd2.jpg.pagespeed.ic.fmOwneJaX2.webp");
}

.section--2__item3 {
  background-image: url("https://preview.colorlib.com/theme/travel/img/xd3.jpg.pagespeed.ic.NfoIjgSRM-.webp");
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: 100% 100%;
}
.section--2__item3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://preview.colorlib.com/theme/travel/img/xd3.jpg.pagespeed.ic.NfoIjgSRM-.webp");
}
.section--2__item1--desc {
  margin-top: 10px;
}
.section--2__item2--desc {
  margin-top: 10px;
}
.section--2__item3--desc {
  margin-top: 10px;
}

.visible {
  visibility: hidden;
}

#section--3 {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 45% 55%;
}
.section__3_text {
  margin-left: 70px;
}
.section__3_text > p,
h1,
button {
  margin-right: 70px;
  margin-top: 70px;
}
.section__3_text > p {
  color: rgb(124, 125, 126);
}
.section__3_text > button {
  color: rgb(206, 209, 212);
  font-weight: bolder;
  border: none;
  background: rgb(44, 46, 44);
  padding: 16px;
}
.section__3_text > button:hover {
  color: rgb(206, 209, 212);
  font-weight: bolder;
  border: none;
  background: rgb(207, 143, 5);
  padding: 16px;
}
.section__3_img {
  width: 100%;
}
.section__3_img > img {
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden;
}
.nav__overlay {
  z-index: 1000;
  height: 100%;
  width: 30%;
  position: fixed;
  top: -35px;
  background: rgba(15, 15, 15, 0.9);
}
.nav__overlay {
  margin-top: 35px;
}
.nav__overlay > div > div {
  margin-top: 35px;
}
.overlay {
  width: 100%;
  height: 100%;
  z-index: 500;
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
}

@media screen and (max-width: 1000px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(./img/img-4.jpg);
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-size: 130% 130%;
  }
  #section--3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .section__3_text > button {
    margin-bottom: 40px;
  }
  .section--2__container {
    display: grid;
    margin: 40px;
    grid-template-columns: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color: white;
  }
  .Testimonial__container {
    display: flex;
    flex-direction: column;
    width: 500px;

    margin: 10px;
    padding: 2px;
  }
  .img-fluid {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
  }
  .desc > p {
    color: rgb(128, 133, 128);
    font-size: 1px;

    margin-top: 30%;
    margin-right: 25%;
  }
  .desc > h4 {
    font-size: 10px;
    margin-top: none;
  }

  .fa-star {
    color: rgb(240, 200, 22);
    font-size: small;
  }
  .testimonail__main_flex {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    margin: 20px;
  }
}
@media screen and (max-width: 500px) {
  .section__container {
    display: grid;
    grid-template-columns: auto;
    margin: 80px;

    grid-row-gap: 50px;
  }
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(./img/img-4.jpg);
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-size: 200% 130%;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;
    width: 70%;
    z-index: 100;
    background: rgba(196, 192, 192, 0.33);
    margin-top: 30px;
    position: fixed;
    top: 2px;
  }
  .nav.sticky {
    position: fixed;
    display: flex;
    background: rgba(29, 28, 26, 0.83);
    height: 8%;
    width: 100%;
    margin-top: -2px;
    transition: all 0.3s;
    justify-content: space-around;
  }
  .section--2__container {
    display: grid;
    margin: 20px;
    grid-template-columns: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color: white;
  }
}

/* ------------------------------------------------- */

/* SLIDER */
.slider {
  max-width: 80%;
  height: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 2s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 20%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0);
  font-size: small;
  color: rgb(170, 165, 165, 0.6);
  border-radius: 20%;
  height: 100%;
  width: 5px;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 5%;
  transform: translate(50%, -50%);
}

.slider__btn--right {
  right: 5%;
  transform: translate(-50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 10px;
  width: 10px;
  border-radius: 0%;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}
.dots__dot--active {
  /* background-color: #fff; */
  background-color: rgb(240, 168, 12);
  opacity: 1;
}

/* SLIDER */
.slider5 {
  max-width: 80%;
  height: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide5 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 2s;
}

.slide5 > div {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider5__btn {
  position: absolute;
  top: 20%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0);
  font-size: small;
  color: rgb(170, 165, 165, 0);
  border-radius: 20%;
  height: 100%;
  width: 5px;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider5__btn--left {
  left: 5%;
  transform: translate(50%, -50%);
}

.slider5__btn--right {
  right: 5%;
  transform: translate(-50%, -50%);
}

.dots5 {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.dots5__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 10px;
  width: 10px;
  border-radius: 0%;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}
.dots5__dot--active {
  /* background-color: #fff; */
  background-color: rgb(240, 217, 12);
  opacity: 1;
}

.Testimonial__container {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 500px;

  margin: 10px;
  padding: 2px;
}
.img-fluid {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 30px;
}
.desc > p {
  color: rgb(128, 133, 128);
  font-size: small;
}

.fa-star {
  color: rgb(240, 200, 22);
}
.testimonail__main_flex {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
}
